/* Experience Page */

#my-experiences-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.experience-row {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.experience-rows-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.experience-row-left {
    flex: 1 1 65%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.experience-brief-company {
    font-size: 45px;
    font-weight: 800;
}

/* .experience-brief-more-detail {
    font-size: 40px;
    font-weight: 700;
} */

.experience-brief-other-info {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.experience-brief-role {
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.678);
}

.experience-brief-duration {
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.678);
}


.experience-details-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-row-right {
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.experience-image-content {
    display: flex;
    flex-wrap: wrap;
    gap: 34px 16px;
}



.experience-image-container {
    width: calc((100% - 16px) / 1.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-image {
    width: 100%;
    height: auto;
}


.experience-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 8px;
}


@media (max-width: 800px) {
    .experience-row {
        flex-direction: column;
    }

    .experience-row-right {
        flex: 1 1 0;
        width: 100%;
    }
}