/* Experience Page */

#my-experiences-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

#experience-header {
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.experience-row {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.experience-rows-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.experience-row-left {
    flex: 1 1 0;
    gap: 16px;
}

.experience-details-content {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.experience-row-right {
    flex: 0 1 360px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.experience-image-content {
    display: flex;
    flex-wrap: wrap;
    gap: 34px 16px;
}



.experience-image-container {
    width: calc((100% - 16px) / 1.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-image {
    width: 100%;
    height: auto;
}


.experience-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 8px;
}


@media (max-width: 800px) {
    .experience-row {
        flex-direction: column;
    }

    .experience-row-right {
        flex: 1 1 0;
        width: 100%;
    }
}