* {
  box-sizing: border-box;
}

:root {
  /* default --navbar-height will be updated from JS at runtime */
  --navbar-height: 99px;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main Page Layout */

.page-content {
  margin: 225px 425px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}


/* Special handling for page content after a hero section */
#hero+.page-content {
  margin-top: calc(var(--navbar-height));
  /* Reduce top margin when after hero */
}


/* Hero (full-screen) */
#hero {
  /* Keep hero visible below a fixed navbar by reducing its minimum height */
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
}


#hero .hero-inner {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding-top: calc(var(--navbar-height) / 4);
}


@media only screen and (max-width: 2000px) {
  .page-content {
    margin: 225px 285px;
    margin-top: 100px;
  }

  #hero {
    margin: 60px 50px;
  }
}

@media only screen and (max-width: 1600px) {
  .page-content {
    margin: 225px 275px;
    margin-top: 100px;
  }

  #hero {
    margin: 50px 45px;
  }
}

@media only screen and (max-width: 1200px) {
  .page-content {
    margin: 225px 175px;
    margin-top: 100px;
  }

  #hero {
    margin: 47px 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .page-content {
    margin: 225px 60px;
    margin-top: 100px;
  }

  #hero {
    margin: 47px 20px;
  }
}

@media only screen and (max-width: 800px) {
  .page-content {
    margin: 150px 40px;
    margin-top: 100px;
  }

  #hero {
    margin: 35px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .page-content {
    margin: 125px 20px;
    margin-top: 100px;
  }

  #hero {
    margin: 30px 0px;
  }
}

.page-content.hidden {
  display: none;
}