.project-row {
    display: flex;
    gap: 35px;
    align-items: flex-start;
}

.project-rows-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.project-row-left {
    flex: 1 1 65%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}


.project-brief-other-info {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.project-brief-role {
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.678);
    font-family: 'Times New Roman', Times, serif;
}

.project-brief-duration {
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.678);
}


.project-details-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-row-right {
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.project-image-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 34px 16px;
}



.project-image-container {
    width: calc((100% - 16px) / 1.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-image {
    width: 100%;
    height: auto;
}


.project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 8px;
}


@media (max-width: 800px) {
    .project-row {
        flex-direction: column;
    }

    .project-row-right {
        flex: 1 1 0;
        width: 100%;
    }
}