/* Project Section */

#my-work-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}


.project-title {
    font-size: 25px;
    font-weight: 700;
}

.projects-container {
    display: flex;
    gap: 34px 16px;
    flex-wrap: wrap;
}

/* Project Cards */

.project-card {
    max-width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.project-card-text-container {
    flex-direction: column;
    display: flex;
    gap: 16px
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}