/* Project Section */

#my-work-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}

.what-is-above-the-projects {
    margin-top: 5px;
}

.project-title {
    font-size: 30px;
    font-weight: 700;
}

.projects-container {
    display: flex;
    gap: 34px 16px;
    flex-wrap: wrap;
}

/* Project Cards */

.project-card {
    max-width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.project-card-text-container {
    flex-direction: column;
    display: flex;
    gap: 16px
}

.project-image {
    height: 100%;
    max-height: 180px;
    width: auto;
    display: block;
    margin: 10 auto;
    object-fit: contain;
}

a.button.read-more {
    background-color: var(--COLOR-1);
}