:root {
  --COLOR-1: #ADD8E6;
  --COLOR-2: #DFC9E8;
  --COLOR-3: #EDC8BB;
  --COLOR-4: #C1D7B9;
  --COLOR-5: #B1BED9;
  --COLOR-6: #FFDAE5;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title-big {
  font-size: 65px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.section-subheader-text {
  font-size: 40px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}